In [1]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\jimen\appdata\roaming\python\python39\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\jimen\appdata\roaming\python\python39\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.5)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2022.9.14)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.11)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import opendatasets as od

In [58]:
dataset= 'https://www.kaggle.com/datasets/surajjha101/top-youtube-channels-data'

In [59]:
od.download(dataset)

Skipping, found downloaded files in ".\top-youtube-channels-data" (use force=True to force download)

In [32]:
import os

In [33]:
data_dir = './top-youtube-channels-data'

In [34]:
os.listdir(data_dir )

['.ipynb_checkpoints']

In [35]:
import pandas as pd

In [36]:
pd_file=pd.read_csv('most_subscribed_youtube_channels.csv')
pd_file

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
996,997,TrapMusicHDTV,"10,900,000","4,070,521,973",690,Music,2013
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012
999,1000,Dobre Brothers,"10,900,000","2,808,411,693",590,People & Blogs,2017

In [37]:
import pygal

# Filter the top 10 channels by subscribers
top_10 =pd_file.sort_values('subscribers', ascending=False)[:10]
# Create a bar chart
bar_chart = pygal.Bar(title='Top 10 Most Subscribed YouTube Channels')

# Add the data to the chart
for _, row in top_10.iterrows():
    subscribers = int(row['subscribers'].replace(',', ''))
    bar_chart.add(row['Youtuber'], subscribers)
# Render the chart
bar_chart.render_in_browser()

file://C:/Users/jimen/AppData/Local/Temp/tmpk8ojtj6i.html

In [43]:
import pygal

# Leer el archivo csv
pd_file = pd.read_csv('most_subscribed_youtube_channels.csv')

# Seleccionar los 5 youtubers con más suscriptores
pd_top_5 = pd_file.head()

# Convertir el valor de la columna "subscribers" a un tipo de dato numérico
pd_top_5['subscribers'] = pd_top_5['subscribers'].str.replace(',', '').astype(int)

# Crear un gráfico de pastel con Pygal
pie_chart = pygal.Pie(title='1 Cinco Canales de Youtube con más suscriptores')

# Agregar los datos al gráfico de pastel
for index, row in pd_top_5.iterrows():
    pie_chart.add(row['Youtuber'], row['subscribers'])

# Renderizar el gráfico de pastel en el navegador
#pie_chart.render_in_browser()
pie_chart.render_to_file('5Canales_MasSuscriptores.svg')

C:\Users\jimen\AppData\Local\Temp\ipykernel_19640\1005357339.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_top_5['subscribers'] = pd_top_5['subscribers'].str.replace(',', '').astype(int)

In [44]:
import pygal
import pandas as pd


# convertir 'video views' a numeros enteros
pd_file['video views'] = pd_file['video views'].str.replace(',', '').astype(float)

# ordenar por 'video views' en orden descendente y seleccionar las 10 filas principales
top_10 = pd_file[['Youtuber', 'video views']].sort_values(by='video views', ascending=False).head(10)

# graficar
bar_chart = pygal.Bar()
bar_chart.title = '2 Top 10 YouTubers por vistas'
for index, row in top_10.iterrows():
    bar_chart.add(row['Youtuber'], row['video views'])

#bar_chart.render_in_browser()
bar_chart.render_to_file('topvistas.svg')

In [45]:
import csv
import pygal

# Crear un diccionario para contar las categorías
categories = {}

# Leer el archivo CSV y contar las categorías
with open('most_subscribed_youtube_channels.csv', newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        category = row['category']
        if category not in categories:
            categories[category] = 1
        else:
            categories[category] += 1

# Crear un gráfico de barras utilizando Pygal
bar_chart = pygal.Bar()
bar_chart.title = '3 Cantidad de Youtubers por Categoría'
for category, count in categories.items():
    bar_chart.add(category, count)

# Renderizar el gráfico
#bar_chart.render_in_browser()
bar_chart.render_to_file('youtuberscategoria.svg')

In [46]:
import pandas as pd
import pygal


# Leer el archivo CSV en un DataFrame de Pandas
pd_file = pd.read_csv('most_subscribed_youtube_channels.csv')

# Convertir la columna 'subscribers' a tipo float y filtrar los canales con más de 20 millones de suscriptores
pd_file['subscribers'] = pd_file['subscribers'].str.replace(',', '').astype(float)
pd_file = pd_file.loc[pd_file['subscribers'] > 20]

# Crear un gráfico de barras con Pygal
bar_chart = pygal.HorizontalBar(title='Canales con más de 20 millones de suscriptores')

# Agregar los datos al gráfico de barras
for index, row in pd_file.iterrows():
    bar_chart.add(row['Youtuber'], row['subscribers'])

# Definir los títulos de los ejes
bar_chart.x_title = 'Suscriptores (millones)'
bar_chart.y_title = 'Youtubers'

# Renderizar el gráfico de barras en el navegador
# bar_chart.render_in_browser()
bar_chart.render_to_file('20msuscriptores.svg')

In [47]:
import pandas as pd
import pygal
# Seleccionar los datos que cumplen con los criterios de más de 10 millones y menos de 25 millones de suscriptores
pd_file_selected = pd_file[(pd_file['subscribers'] > 10_000_000) & (pd_file['subscribers'] < 25_000_000)]

# Extraer las columnas 'channel_name' y 'category'
pd_file_chart = pd_file_selected[['Youtuber', 'category']]

category_counts = pd_file_chart.groupby('category').count()['Youtuber']
# Crear el gráfico de barras con Pygal
bar_chart = pygal.Bar(width=800, height=400, x_title='Categoría', y_title='Número de youtubers')
bar_chart.title = '5 Youtubers con más de 10M y menos de 25M de suscriptores por categoría'
for category, count in category_counts.iteritems():
    bar_chart.add(category, count)

#bar_chart.render_in_browser()
bar_chart.render_to_file('youtubers_10M-25M.svg')